{% extends "base.html" %}
{% block title %} Home Page din {% endblock %}

{% block content %}
<h1>☠☠☠☠☠WELCOME INTRUDER to HOME☠☠☠☠☠☠</h1>
<br>
<h2>💻Welcome to my Python project! This project does comprehensive demonstration of Django basics💻</h2>
<h3>1. Installation</h3>
<p> Install.. Install.. Install <br> The philosophical reason behind the need for installation lies in the fundamental nature of software and its interaction with the physical world. <br> BOW! </p>

<h3>2. Usage</h3>
<p> Use.. Use.. Use.. <br> The main reasons why people use others can vary significantly based on context, relationships, and individual motivations.<br> BOW! </p>

<h3>3. Contributing </h3>
<p>Contribute.. Contribute.. Contribute.. <br> Contributing—whether to our community, workplace, or global causes—holds immense significance.<br> BOW! </p>

<h3>4. License </h3>
<p> License.. License.. License.. <br> serve as gateways to opportunities, safety, and responsible participation in various domains. Whether it’s driving, running a business, or practicing a profession, licenses play a crucial role in our interconnected world.<br> BOW! </p>

<h3>5. Acknowledgments of Libraries /h3>
<p> Acknowledgments..  Acknowledgments..  Acknowledgments.. <br> acknowledgment is a gift we give—one that costs nothing but holds immeasurable value. So, let’s acknowledge each other’s presence, efforts, and humanity.<br> BOW! </p>

<h3>6. HANGGANG DITO NA LANG PO KASI</h3>
<p>PAGOD.. NA PAGOD.. NA PAGOD.. NA PAGOD..(100X.)<br> c OA talga </p>

<h2>Why Choose Geli Demo App? </h2>
<ul>
    <li>kasi pinagpuyatan... luh!</li>
    <li>kasi maarte... OA kasi may gawa</li>
    <li>kasi mukhang ewan</li>
</ul>
<p>Ready to experience the future of Geli Demo App? Sign Up now and unlock a world of possibilities!.. <br> LUH! </p>
{% endblock %}
